<%= link_to 'new Pro Streamer', new_streamer_path %>
<%= link_to 'Home', root_path %>
<div class="stream">
  <% if @streams %>
    <% @streams.each do |stream| %>
      <%= render 'list', object: stream%>
    <% end %>
  <% end %>
</div>
