<div class="flex-container">
  <div class="stream">
    <div class="col-md-8">
      <div id="{PLAYER_DIV_ID}" class="player-container">
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <% if @room.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'messages/message', collection: @room.messages, as: :message%>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>

        <%= render partial: 'messages/message_form', locals: {message: @message, room: @room}%>
    </div>
    <script type="text/javascript">
    var options = {
      channel: '<%= @stream.channel_name  %>',
      //video: "{VIDEO_ID}"
    };
    var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
    player.setVolume(0.5);
    player.addEventListener(Twitch.Player.PAUSE, () => { console.log('Player is paused!'); });
    </script>
  </div>
</div>
