<div class="flex-container">
  <div class="stream">
    <div class="col-md-8">
      <div id="{PLAYER_DIV_ID}" class="player-container">
      </div>
    </div>
    <div class="col-md-4">
      <div id="chat" class="chat-container">
        <iframe frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="http://www.twitch.tv/<%= @stream.channel_name  %>/chat">
        </iframe>
      </div>
    </div>
    <script type="text/javascript">
    var options = {
      channel: '<%= @stream.channel_name  %>',
      //video: "{VIDEO_ID}"
    };
    var player = new Twitch.Player("{PLAYER_DIV_ID}", options);
    player.setVolume(0.5);
    player.addEventListener(Twitch.Player.PAUSE, () => { console.log('Player is paused!'); });
    </script>
  </div>
</div>
