<div class="tile">
  <%= link_to(post_path(post)) do %>
    <p class="title">
      <%= post.title %>
    </p>
  <% end %>
  <%= render 'info', post: post %>
  <p class="post_sum">
    <%= truncate(post.content, length: 500, seperator: ' ') %>
  </p>
</div>
