/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
  *= require_tree .
  *= require_self
  */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  min-height: 100%;
}

body {
  background-color: #ECF0F1;

  a {
    text-decoration: none;
  }
}

.navbar-inverse {
  background-color: #2C3E50;

  .navbar-header {
    .navbar-toggle {
      background-color: #E74C3C;
      color: #E74C3C;
      border-color: #2C3E50;
    }
  }
}

.alert {
  background-color: #E74C3C;
  color: #ECF0F1;
}

.notice {
  background-color: #3498DB;
  color: #ECF0F1;
}

.footer {
  background-color: #2C3E50;
  text-align: center;
  height: 5em;
}

.tile {

}

.tile-title {
  font-size: 4em;
}
