<!DOCTYPE html>
<html>
  <head>
    <title>Fever</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
